# Игнорировать настройки VS Code
.vscode/

# Игнорировать файлы истории bash
.bash_history
.bash_logout

# Игнорировать папки и файлы, связанные с Python
__pycache__/
*.py[cod]
*.pyo

# Игнорировать виртуальные окружения
venv/

# Игнорировать файлы настроек и истории npm
.npm/
.npmrc

# Игнорировать папки и файлы, связанные с системой
.DS_Store
*.log
# Игнорировать личные настройки
.gitconfig
.bashrc
.profile
# Игнорировать временные файлы, созданные редакторами и IDE
*.swp
*.swo
.idea/
*.iml
db.sqlite3