<!DOCTYPE html>
<html lang="ru">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <!-- Подключение стилей -->
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Подключение Bootstrap для dropdown -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <header>
    <div class="burger" onclick="toggleMobileMenu()">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
      <div class="burger-line"></div>
    </div>

    <nav id="navbar" class="navbar">
      <a href="/" class="nav-link"><i class="fas fa-home"></i> Асосӣ</a>
      <a href="/admin/" class="nav-link"><i class="fas fa-tools"></i> Админ</a>
      <a href="/menu/" class="nav-link"><i class="fas fa-list"></i> Меню</a>

      {% if user.is_authenticated %}
        <!-- Dropdown для пользователя -->
        <div class="dropdown">
          <span class="user-info dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> {{ user.username }}
          </span>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a href="{% url 'profile' %}" class="dropdown-item"><i class="fas fa-cogs"></i> Личный кабинет</a></li>
            <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Выйти</a></li>
          </ul>
        </div>
      {% else %}
        <button id="login-logout-btn" class="login-btn" onclick="toggleLoginLogout()">
          <i class="fas fa-sign-in-alt"></i> Войти
        </button>
      {% endif %}

      <!-- Кнопка для переключения темы -->
      <button id="theme-toggle-btn" class="theme-toggle-btn" onclick="toggleTheme()">
        <i class="fas fa-moon"></i> <!-- Иконка Луны для темной темы -->
      </button>
    </nav>

  </header>

  <!-- Ваш контент -->

  <!-- Подключение дополнительных скриптов -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/header.js' %}"></script>
</body>

</html>
