{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <!-- Подключение header.html -->
    {% include 'bot/header.html' %}

    <div class="container">
        <h1>Служба доставки</h1>
        <div id="welcome-message"></div>

        <div id="registration-form" style="display: none;">
            <h3>Регистрация</h3>
            <p>Введите свой номер телефона:</p>
            <input type="text" id="phone-number" placeholder="Номер телефона" />
            <br>
            <button onclick="registerUser()">Зарегистрироваться</button>
        </div>
    </div>

    <h2 class="text-center">Меню</h2>

    <!-- Карусель -->
    <div id="dishes-container" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for dish in dishes %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="dish-card">
                    <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="d-block w-100">
                    <h3>{{ dish.name }}</h3>
                    <p>{{ dish.description }}</p>
                    <strong>{{ dish.price }} сомони</strong><br><br>
                    <button onclick='addToCart({
                        "id": "{{ dish.id }}",
                        "name": "{{ dish.name }}",
                        "description": "{{ dish.description }}",
                        "price": "{{ dish.price }}",
                        "image": "{{ dish.image.url }}"
                    })'>В корзину</button>
                </div>
            </div>
            {% empty %}
            <p>Меню на данный момент пусто.</p>
            {% endfor %}
        </div>

        <!-- Навигация карусели -->
        <button class="carousel-control-prev" type="button" data-bs-target="#dishes-container" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dishes-container" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>
{% endblock %}

{% block extra_head %}
    <!-- Подключение дополнительных стилей -->
    <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- Подключение дополнительных скриптов -->
    <script src="{% static 'js/index_script.js' %}"></script>
{% endblock %}
