{% load static %}
{% include 'bot/header.html' %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    {% block title %}Меню{% endblock %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<div class="container my-4">
    <!-- Кнопка корзины -->
    <!-- Карточки блюд -->
    <div class="container">
        {% for dish in dishes %}
            <div class="col-md-4 col-12 mb-3">
                <div class="card h-100 shadow-sm product-card" data-category="{{ dish.category }}">
                    <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text" id="desc-{{ dish.id }}">{{ dish.description }}</p>
                        <strong>{{ dish.price }} сомонӣ</strong><br><br>
                        
                        <button class="btn btn-primary mt-2" onclick='addToCart({
                            "id": "{{ dish.id }}",
                            "name": "{{ dish.name }}",
                            "description": "{{ dish.description }}",
                            "price": "{{ dish.price }}",
                            "image": "{{ dish.image.url }}"
                        })'>Ба сабад</button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">Меню в данный момент пусто.</p>
        {% endfor %}
    </div>

    <!-- Ссылка на оформление заказа -->
    <div class="text-center mt-4">
        <a href="{% url 'checkout' %}" class="btn btn-success">Оформить заказ</a>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
